.DS_Store
.idea
*.log
tmp/


*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
.stack-root/
/.cabal-sandbox/
TAGS
/Setup
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el
/.git/
/etc/scripts/stack-scripts.cabal
.hspec-failures
better-cache/
stack*.yaml.lock
node_modules/
dist/

debug/
target/

Cargo.lock

**/*.rs.bk

pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.lsp/
.clj-kondo/
